:root {
    --background-color: #ffc700;
    --bs-primary-rgb: 18, 41, 108;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--background-color);
    color: rgb(var(--bs-primary-rgb));
    font-weight: 300;
    font-size: 1.2rem;
    background-image: url(../img/noise-bg.png);
}

header {
    background-color: rgb(var(--bs-primary-rgb));
}

.btn {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    border-radius: 2rem;
}

.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #ffc700;
    --bs-btn-border-color: #ffc700;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #ffe066;
    --bs-btn-hover-border-color: #ffe066;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #ffc700;
    --bs-btn-active-border-color: #ffc700;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #ffc700;
    --bs-btn-disabled-border-color: #ffc700;
}

.btn-outline-secondary {
    --bs-btn-color: #ffc700;
    --bs-btn-border-color: #ffc700;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #ffe066;
    --bs-btn-hover-border-color: #ffe066;
    --bs-btn-focus-shadow: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #ffc700;
    --bs-btn-active-border-color: #ffc700;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #ffc700;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #ffc700;
    --bs-gradient: none;
}

.about-item {
    background-color: rgb(var(--bs-primary-rgb));
    padding: 1.25rem;
    border-radius: 0.25rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}
